{% extends 'base.html' %}
{% load static %}
{% block title %}Declarer Exam{% endblock %}
{% block content %}

<center>

<br><br>
           <form method="POST" class="post-form">{% csrf_token %}
                        {{ form.as_p }}
                       <button type="submit" class="save btn btn-success">Valider</button>
           </form>
</center>
<script type="text/javascript">
var envoi = "{{envoi}}";
if( envoi){
    alertify.success('votre message a été envoyé avec succès !');    
}	
</script>




{% endblock %}