{% extends 'base1.html' %}
{% load static %}

{% block title %}Page D'accueil{% endblock %}
{% block content %}

     {% if ListExam %}

         
      
    	<div class="row">
    	 {% for le in ListExam %}
    	 	<div class="col-xs-6 col-lg-4">
    	 		
				{% if le.groupe.groupe == "GL1" or le.groupe.groupe == "GL2"  or le.groupe.groupe == "GL3" or le.groupe.groupe == "IWIM1" or le.groupe.groupe == "IWIM2"  or le.groupe.groupe == "IeL" or le.groupe.groupe == "BI" or le.groupe.groupe == "SSI" or le.groupe.groupe == "eMBI" or le.groupe.groupe == "ISEM"  %}
					<h3>Annonce 2ème Année</h3>
				{% elif le.groupe.groupe == "G1" or le.groupe.groupe == "G2" or le.groupe.groupe == "G3" or le.groupe.groupe == "G4" or le.groupe.groupe == "G5" or le.groupe.groupe == "G6" or le.groupe.groupe == "G7" or le.groupe.groupe == "G8"  %}
					<h3>Annonce 1ère année</h3>
				{% else %}
					<h3>Annonce 3ère année</h3>
				{% endif %}
            	

            	<p> Il est porté à la connaissance des élèves ingénieurs qu'il y aura un exam {{le.typeExam}} de l'élément {{le.element}}  pour le groupe {{le.groupe}} </p>
              		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
           
            
          {% endfor %}        		
        </div><!--/row-->



   
    {% else %}
       <div class="row">
            <div class="col-xs-6 col-lg-4">
              
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
             
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
             
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
             
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
       


    {% endif %}



{% endblock %}
