{% extends 'base.html' %}
{% load static %}
{% block title %}Notification {% endblock %}
{% block content %}



<br><br>
          <a href="#" class="list-group-item active">
             <center>1A</center>
            </a>
            <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
             GL
            </a>
            <a href="#" class="list-group-item">2A</a>
            <a href="#" class="list-group-item">3A</a>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              IWIM
            </a>
             <a href="#" class="list-group-item">2A</a>
            <a href="#" class="list-group-item">3A</a>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
           <div class="list-group">
            <a href="#" class="list-group-item active">
              IEL
            </a>
            <a href="#" class="list-group-item">2A</a>
            <a href="#" class="list-group-item">3A</a>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

   <div class="row">
        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
             SSI
            </a>
            <a href="#" class="list-group-item">2A</a>
            <a href="#" class="list-group-item">3A</a>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active">
             BI
            </a>
             <a href="#" class="list-group-item">2A</a>
            <a href="#" class="list-group-item">3A</a>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
           <div class="list-group">
            <a href="#" class="list-group-item active">
              ISEM
            </a>
            <a href="#" class="list-group-item">2A</a>
            <a href="#" class="list-group-item">3A</a>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
  



{% endblock %}














